<!DOCTYPE html>
<html lang="en">
{{template "links"}}
<body>
 {{template "header"}}
 <main id="content" role="main">
  <!-- Gallery -->
  <div class="container content-space-t-3 content-space-t-lg-5 space-3">
    <div class="w-lg-75 text-center mx-lg-auto">
      <!-- Heading -->
      <div class="mb-5 mb-md-10">
        <h1 class="display-4">About Us</h1>
        <h2>HyperPaid — accounts and payments for your business worldwide</h2>
        <p class="lead">We understand the importance of building trust with its clients and showcasing its representative in a positive light. To achieve this, the company has implemented several measures. Firstly, hyperpaid prioritizes transparency in all its financial transactions, providing detailed reports and statements to clients upon request. </p>
      </div>
      <!-- End Heading -->
    </div>

    <div class="row gx-3">
      <div class="col mb-3">
        <div class="bg-img-start" style="background-image: url(./assets/img/others/img17.jpg); height: 15rem;"></div>
      </div>
      <!-- End Col -->

      <div class="col-3 d-none d-md-block mb-3">
        <div class="bg-img-start" style="background-image: url(./assets/img/others/img6.jpg); height: 15rem;"></div>
      </div>
      <!-- End Col -->

      <div class="col mb-3">
        <div class="bg-img-start" style="background-image: url(./assets/img/others/img14.jpg); height: 15rem;"></div>
      </div>
      <!-- End Col -->

      <div class="w-100"></div>

      <div class="col mb-3 mb-md-0">
        <div class="bg-img-start" style="background-image: url(./assets/img/others/img25.jpg); height: 15rem;"></div>
      </div>
      <!-- End Col -->

      <div class="col-4 d-none d-md-block mb-3 mb-md-0">
        <div class="bg-img-start" style="background-image: url(./assets/img/others/img16.jpg); height: 15rem;"></div>
      </div>
      <!-- End Col -->

      <div class="col">
        <div class="bg-img-start" style="background-image: url(./assets/img/others/img12.jpg); height: 15rem;"></div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Gallery -->

  <!-- Team -->
  <div class="container content-space-2 content-space-lg-3">
    <!-- Heading -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <span class="text-cap">Our team</span>
    </div>
    <!-- End Heading -->

    <div class="row gx-3 mb-5">
      <div class="col-sm-6 col-lg-3 mb-3">
        <!-- Card -->
        <div class="card card-transition h-100">
          <div class="card-body">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <img class="avatar-img" src="./assets/img/others/img7.jpg" alt="Image Description">
            </div>

            <span class="card-subtitle">Founder / CEO</span>
            <h4 class="card-title">Christina Kray</h4>
            <p class="card-text">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
          </div>

          
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->

      <div class="col-sm-6 col-lg-3 mb-3">
        <!-- Card -->
        <div class="card card-transition h-100">
          <div class="card-body">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <img class="avatar-img" src="./assets/img/others/img3.jpg" alt="Image Description">
            </div>

            <span class="card-subtitle">Project Manager</span>
            <h4 class="card-title">Jeff Fisher</h4>
            <p class="card-text">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
          </div>

          
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->

      <div class="col-sm-6 col-lg-3 mb-3">
        <!-- Card -->
        <div class="card card-transition h-100">
          <div class="card-body">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <img class="avatar-img" src="./assets/img/others/img10.jpg" alt="Image Description">
            </div>

            <span class="card-subtitle">Product Designer</span>
            <h4 class="card-title">Amy Forren</h4>
            <p class="card-text">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
          </div>

        
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->

      <div class="col-sm-6 col-lg-3 mb-3">
        <!-- Card -->
        <div class="card card-transition h-100">
          <div class="card-body">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <img class="avatar-img" src="./assets/img/others/img5.jpg" alt="Image Description">
            </div>

            <span class="card-subtitle">Support Consultant</span>
            <h4 class="card-title">Philip Williams</h4>
            <p class="card-text">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
          </div>

          
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Team -->
{{template "footer"}}

</main>
  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory  -->
  <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="./assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="./assets/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="./assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="./assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
  <script src="./assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="./assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
  <script src="./assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="./assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="./assets/vendor/slick-carousel/slick/slick.js"></script>

  <!-- JS Front -->
  <script src="./assets/js/theme.min.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF HEADER
      // =======================================================
      var header = new HSHeader($('#header')).init();


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();


      // INITIALIZATION OF UNFOLD
      // =======================================================
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();


      // INITIALIZATION OF SHOW ANIMATIONS
      // =======================================================
      $('.js-animation-link').each(function () {
        var showAnimation = new HSShowAnimation($(this)).init();
      });


      // INITIALIZATION OF FORM VALIDATION
      // =======================================================
      $('.js-validate').each(function() {
        $.HSCore.components.HSValidation.init($(this), {
          rules: {
            confirmPassword: {
              equalTo: '#signupPassword'
            }
          }
        });
      });


      // INITIALIZATION OF SLICK CAROUSEL
      // =======================================================
      $('.js-slick-carousel').each(function() {
        var slickCarousel = $.HSCore.components.HSSlickCarousel.init($(this));
      });


      // INITIALIZATION OF GO TO
      // =======================================================
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/dist/polyfill.js"><\/script>');
  </script>
</body>
</html>